.App {
  text-align: center;
}

.App .logo{
 /* .App 안에 있는 .logo 에 스타일 적용  */
  height: 40vmin;
  pointer-events: none;
}

.App header {
  /* .App 안에 있는 header tag 에 스타일 적용  */
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App a {
  /* .App 안에 있는 a tag 에 스타일 적용  */
  color: #61dafb;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
